<html>
<head>
    <meta charset="UTF-8">
    <title>Paypal 支付</title>
    <link rel=stylesheet type=text/css href="css/app.css">
    <link rel=stylesheet type=text/css href="css/overrides.css">
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
</head>
<body>
<header class="main">
    <div class="container wide">
        <div class="content slim">
            <div class="set">
                <div class="fill">
                    <a class="pseudoshop" href="/"><strong>OCT</strong> Payment</a>
                </div>

                <div class="fit">
                    <a class="braintree" href="https://developers.braintreepayments.com/guides/drop-in" target="_blank">Braintree</a>
                </div>
            </div>
        </div>
    </div>

    <div class="notice-wrapper">
        {{if $pay_error}}
            <div class="show notice error notice-error">
                <span class="notice-message">
                    {{$pay_error}}
                <span>
            </div>
        {{/if}}
    </div>
</header>
